## 共通ヘッダ
<div class="commonHeader">

	<div class="headerLogo">
		<a href="$bean.getIndexLink()">
			<img src="$bean.getHeadImageLink()" alt="$bean.getHeadImageText()" />
		</a>
	</div>

	<div class="logoFooter">
		<img src="$bean.getHeadFooterImageLink()" />
	</div>

	<ul class="headerMenu">
		#foreach($menu in $bean.getMenuList())##
			<li>
				<a href="$menu.getLink()" class="menubtn">$menu.getName()</a>
			</li>
		#end##
	</ul>

</div><!-- .commonHeader -->
