<noscript>
	<div style='margin:2em;background-color:yellow;font-size:lager;'><br />
		<center>
			<b>お使いのブラウザは JavaScript が無効です。</b><br />
			<b>設定を変更して再度表示してください</b><br />
			<br />
		</center>
	</div>
</noscript>
