<html>
<head>
##	HTMLヘッダ
	#parse("/common/html_header.vm")##
</head>

<body>
##	共通ヘッダ
	#parse("/common/header.vm")##

	<div class="contents">

		<div class="bread">
			HOME &gt; お問い合せ
		</div>

		<div class="contentsTitle">
			お問い合せ
		</div>

		<hr>

		<div class="nomalTbl">
			<span>各種お問い合せは…</span>
			<div>
				<a href="mailto:info@s-itsol.net" target="_blank">info@s-itsol.net</a> 宛てにご連絡ください。
			</div>
		</div><!-- .nomalTbl -->

	</div><!-- .contents -->
</body>
</html>
