<html>
<head>
##	HTMLヘッダ
	#parse("/common/html_header.vm")##
</head>

<body>
##	共通ヘッダ
	#parse("/common/header.vm")##

	<div class="contents">

		<div class="bread">
			HOME &gt; 事業所概要
		</div>

		<div class="contentsTitle">
			事業所概要
		</div>

		<hr>

		<div class="nomalTbl">
			<span>事務所概要  ※個人情報が含まれるため、一部表示を省略しています</span>
			<table>
				#foreach($info in $bean.getInfoList())##
					<tr>
						<th>$info.getTitle()</th>
						<td>$info.getText()</td>
					</tr>
				#end##
			</table>
		</div><!-- .nomalTbl -->
	</div><!-- .contents -->
</body>
</html>
