<html>
<head>
##	HTMLヘッダ
	#parse("/common/html_header.vm")##
</head>

<body>
##	共通ヘッダ
	#parse("/common/header.vm")##

	<div class="contents">
		<marquee class="flowMessage">
			レスポンシブWebデザインに対応させました。
		</marquee>

		<dl class="indexItem">
			<dt>契約状況</dt>
			<dd>
				現在、業務委託契約中。契約更新時期は2019年9月末です。
			</dd>
			<dt>業務経歴最終更新日</dt>
			<dd>
				2017.10.16
			</dd>
			<dt>最低契約金額</dt>
			<dd>
				「月78万(税別) 140～180h 超過精算あり」からご相談にのります。
			</dd>
		</dl>

		<div class="news">
			<marquee behavior="alternate">
				What's New
			</marquee>
			<dl>
				#foreach($whatNew in $bean.getWhatNewList())##
					<dt>$whatNew.getDate()</dt>
					<dd>$whatNew.getText()</dd>
				#end##
			</dl>
		</div>
	</div><!-- .contents -->
</body>
</html>
