<html>
<head>
##	HTMLヘッダ
	#parse("/common/html_header.vm")##
</head>

<body>
##	共通ヘッダ
	#parse("/common/header.vm")##

	<div class="contents">

		<div class="bread">
			HOME &gt; 業務経歴
		</div>

		<div class="contentsTitle">
			業務経歴
		</div>

		<hr>

		<div>
			<a href="$bean.getExcelKeirekiLink()" target="_blank">Excel版の業務経歴書はこちら</a>
		</div>

		<div class="nomalTbl">
			<span>基本情報</span>
			<table>
				<tr>
					<th>性別</th>
					<td>男</td>
				</tr>
					<th>生年月日</th>
					<td>1977年4月 (40歳)</td>
				<tr>
					<th>希望職種</th>
					<td>WEBデザイン、WEBアプリケーション、ITアーキテクト</td>
				</tr>
				<tr>
					<th>住所・最寄駅</th>
					<td>東京都新宿区・都営大江戸線 都庁前駅</td>
				</tr>
				<tr>
					<th>最終学歴</th>
					<td>平成10年度 情報処理系専門学校(3年制) 卒業</td>
				</tr>
				<tr>
					<th>経験年数</th>
					<td>17年</td>
				</tr>
			</table>
		</div><!-- .nomalTbl -->

		<div class="nomalTbl">
			<span>資格</span>
			<table>
				<tr>
					<th>公共資格</th>
					<td>
						日商簿記検定３級<br />
						画像情報技能検定CG部門３級<br />
						ウェブデザイン技能検定３級<br />
						初級システムアドミニストレータ<br />
						第二種情報処理技術者<br />
						ソフトウェア開発技術者<br />
						テクニカルエンジニア(データベース)<br />
					</td>
				</tr>
					<th>ベンダー資格</th>
					<td>
						ORACLEマスターSILVER<br />
						ORACLEマスターGOLD(9i)<br />
						ORACLEマスター新GOLD(9i) ※パフォーマンスチューニングのみ<br />
						MCAデータベース<br />
						XMLマスターベーシック<br />
						JAVA2 SJC-P(1.4)<br />
						OSS-DB Silver(PostgreSQL9.4)<br />
					</td>
				</tr>
			</table>
		</div><!-- .nomalTbl -->

		<div class="nomalTbl">
			<span>自己PR</span>
			<table>
				<tr>
					<td>
「実戦最強・障害現役」を謳い文句とした、技術専門でもない管理専門でもない、ITオールラウンダー。<br />
データベース・Webアプリケーションの知識と技術力をベースにしながらも、業務仕様の理解力や作業品質の高さ、適格な説明力といった「システム構築プロジェクトにおいて、中核を成す総合力」を兼ね備えている点が、他との差別化を図っている強みであり、それらを組み合わせて『ソリューション』という形で提供しております。
業務要件分析、設計、実装、テストといった各工程それぞれの観点を基礎から習得済みであり、全工程に一貫して関わることで、より一層の成果を提供できます。<br />
システムのサービスINと安定稼働を第一目標とし、プロとしての結果を残す意識と行動で、過去に参加したプロジェクトでは、有り難いことに常に高い評価を頂いております。<br />
					</td>
				</tr>
			</table>
		</div><!-- .nomalTbl -->

		<div class="keirekiTbl">
			<span>業務経歴</span>
			<table>
				<thead>
					<th class="term">期間</th>
					<th class="details">業務／チーム・メンバー構成</th>
					<th class="langs">使用言語等／DB</th>
					<th class="machine">使用機種／OS</th>
					<th class="role">担当内容／役割 ※</th>
				</thead>
				<tbody>
					#foreach($keireki in $bean.getKeirekiList())##
						<tr>
							<th>期間</th>
							<td>$keireki.getTerm()</td>
							<th>業務／チーム・メンバー構成</th>
							<td>$keireki.getDetails()</td>
							<th>使用言語等／DB</th>
							<td>$keireki.getLangs()</td>
							<th>使用機種／OS</th>
							<td>$keireki.getMachine()</td>
							<th>担当内容／役割 ※</th>
							<td>$keireki.getRole()</td>
						</tr>
					#end##
				<tbody>
			</table>
			<dl>
				<dt>※担当内容</dt>
				<dd>1：要件分析　2：基本設計　3：詳細設計　4：PG開発　5：テスト　6：保守・運用　7：サポート</dd>
				<dt>※担当役割</dt>
				<dd>PM：プロジェクトマネージャー　L：リーダー　M：メンバー</dd>
			</dl>
		</div><!-- .nomalTbl -->

	</div><!-- .contents -->
</body>
</html>
